.particles-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    /* Make sure it stays in the background */
}

.particle {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.6);
    /* Light white glow */
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    animation: float 10s infinite linear;
}

@keyframes float {
    0% {
        transform: translate(0, 0);
        opacity: 0.8;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        transform: translate(50px, 50px);
        opacity: 0.8;
    }
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    z-index: -1;
    pointer-events: none;
}