.edit-input {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.edit-textarea {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
}