.home-page {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 40px;
}

.button-container {
    margin-top: 20px;
    /* Space between text and buttons */
}

.mood-tracker-button,
.screen-time-button {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
    /* Space between the buttons */
    border: none;
}

.mood-tracker-button {
    background-color: #ff6347;
    color: white;
}

.mood-tracker-button:hover {
    background-color: #e55347;
}

.screen-time-button {
    background-color: #32cd32;
    color: white;
}

.screen-time-button:hover {
    background-color: #228b22;
}